@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: white;
}

@theme {
  --color-primary: rgba(29, 33, 48, 1);
  --color-secondary: rgba(2, 65, 215, 1);
  --color-muted-foreground: rgba(107, 114, 128, 1);
  --color-accent: rgba(245, 198, 41, 1);
  --color-slate-light: rgba(144, 163, 180, 1);
  --color-surface: rgba(43, 46, 60, 1);
}


.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  max-width: 100vw;
  padding-bottom: 40px !important;
}

.swiper-slide img {
  height: auto;
}